@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header ul {
  list-style-type: none;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

.header ul a {
  text-decoration: none;
  color: #242323;
}

.footer ul {
  list-style-type: none;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}


.footer ul a {
  text-decoration: none;
  color: #242323;
}

.header, .footer, .left-links, .right-links, .content {
  display: flex;   
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;
}

.header {
  /*space between pushes the links to the right and left accordingly*/
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
  justify-content: space-between;
  padding: 16px;
}